# Configuration file

~CONFIG_VERSION: 1.0.0.0

functions {
    I:KEY_0=21
    I:KEY_1=12
    I:KEY_2=13
    I:KEY_3=14
    I:KEY_4=15
    I:KEY_5=16
    I:KEY_6=17
    I:KEY_7=18
    I:KEY_8=19
    I:KEY_9=20
    I:KEY_A=0
    I:KEY_APPLICATION=0
    I:KEY_ARROW_DOWN=0
    I:KEY_ARROW_LEFT=0
    I:KEY_ARROW_RIGHT=0
    I:KEY_ARROW_UP=0
    I:KEY_B=0
    I:KEY_BACKSLASH=0
    I:KEY_BACKSPACE=0
    I:KEY_BRACKET_LEFT=0
    I:KEY_BRIGHTNESS=0
    I:KEY_C=0
    I:KEY_COMMA=0
    I:KEY_D=0
    I:KEY_DELETE=0
    I:KEY_DOUBLE_QUOTE=0
    I:KEY_E=25
    I:KEY_END=0
    I:KEY_ENTER=0
    I:KEY_EQUALS=0
    I:KEY_ESC=0
    I:KEY_F=0
    I:KEY_F1=0
    I:KEY_F10=0
    I:KEY_F11=0
    I:KEY_F12=0
    I:KEY_F2=0
    I:KEY_F3=0
    I:KEY_F4=0
    I:KEY_F5=0
    I:KEY_F6=0
    I:KEY_F7=0
    I:KEY_F8=0
    I:KEY_F9=0
    I:KEY_FORWARD_SLASH=0
    I:KEY_G=0
    I:KEY_H=0
    I:KEY_HOME=0
    I:KEY_I=30
    I:KEY_INSERT=0
    I:KEY_J=0
    I:KEY_K=0
    I:KEY_L=0
    I:KEY_LEFT_ALT=0
    I:KEY_LEFT_CTRL=0
    I:KEY_LEFT_SHIFT=0
    I:KEY_LEFT_SUPER=0
    I:KEY_LOCK_CAPS=0
    I:KEY_M=0
    I:KEY_MINUS=0
    I:KEY_MUTE=0
    I:KEY_N=0
    I:KEY_NEXT=0
    I:KEY_NUMPAD_0=0
    I:KEY_NUMPAD_1=44
    I:KEY_NUMPAD_2=0
    I:KEY_NUMPAD_3=0
    I:KEY_NUMPAD_4=45
    I:KEY_NUMPAD_5=0
    I:KEY_NUMPAD_6=0
    I:KEY_NUMPAD_7=46
    I:KEY_NUMPAD_8=0
    I:KEY_NUMPAD_9=0
    I:KEY_NUMPAD_ASTERISK=0
    I:KEY_NUMPAD_ENTER=0
    I:KEY_NUMPAD_MINUS=0
    I:KEY_NUMPAD_PERIOD=0
    I:KEY_NUMPAD_PLUS=0
    I:KEY_NUMPAD_SLASH=0
    I:KEY_NUM_LOCK=47
    I:KEY_O=31
    I:KEY_P=32
    I:KEY_PAGE_DOWN=0
    I:KEY_PAGE_UP=0
    I:KEY_PAUSE=0
    I:KEY_PERIOD=0
    I:KEY_PLAY=0
    I:KEY_PREVIOUS=0
    I:KEY_PRINT_SCREEN=0
    I:KEY_Q=23
    I:KEY_R=26
    I:KEY_RIGHT_ALT=0
    I:KEY_RIGHT_BRACKET=0
    I:KEY_RIGHT_CTRL=0
    I:KEY_RIGHT_SHIFT=0
    I:KEY_RIGHT_SUPER=0
    I:KEY_S=0
    I:KEY_SCROLL_LOCK=0
    I:KEY_SEMICOLON=0
    I:KEY_SPACE=0
    I:KEY_STOP=0
    I:KEY_T=27
    I:KEY_TAB=0
    I:KEY_TILDE=0
    I:KEY_U=29
    I:KEY_V=0
    I:KEY_VolumeDown=0
    I:KEY_VolumeUp=0
    I:KEY_W=24
    I:KEY_WIN_LOCK=0
    I:KEY_X=0
    I:KEY_Y=28
    I:KEY_Z=0
}


