# Configuration file

bosses {
    # A list of potions (registry names) that bosses cannot generate with. [default: ]
    S:"Blacklisted Potions" <
     >

    # The possible mob types for bosses.  Format is weight@entity, entity is a registry name. [default: [4@minecraft:zombie], [3@minecraft:skeleton], [2@minecraft:spider], [1@minecraft:cave_spider], [1@minecraft:creeper], [1@minecraft:wither_skeleton]]
    S:"Boss Spawner Mobs" <
        4@minecraft:zombie
        3@minecraft:skeleton
        2@minecraft:spider
        1@minecraft:cave_spider
        1@minecraft:creeper
        1@minecraft:wither_skeleton
     >

    # The amount of extra damage bosses do, in half hearts. [range: 0.0 ~ 2.14748365E9, default: 4.0]
    S:"Damage Bonus"=4.0

    # If bosses have fire resistance. [default: true]
    B:"Fire Resistance"=true

    # The amount boss health is multiplied by.  Base hp * factor = final hp. [range: 0.0 ~ 2.14748365E9, default: 4.0]
    S:"Health Multiplier"=4.0

    # The amount of knockback resist bosses have. [range: 0.0 ~ 2.14748365E9, default: 0.85]
    S:"Knockback Resist"=0.85

    # The level up chance, this is rolled once per number of levels.  Levels determine gear. [range: 0.0 ~ 2.14748365E9, default: 0.25]
    S:"Level Up Chance"=0.25

    # The chance a gear piece will be randomly enchanted. [range: 0.0 ~ 2.14748365E9, default: 0.25]
    S:"Random Enchantment Chance"=0.25

    # The chance a boss will have extra random potion effects. [range: 0.0 ~ 2.14748365E9, default: 0.45]
    S:"Random Potion Chance"=0.45

    # The regeneration level of bosses.  Set to 0 to disable. [range: 0 ~ 2147483647, default: 2]
    I:"Regen Level"=2

    # The resistance level of bosses.  Set to 0 to disable. [range: 0 ~ 2147483647, default: 1]
    I:"Resistance Level"=1

    # The amount boss speed is multiplied by.  Base speed * factor = final speed. [range: 0.0 ~ 2.14748365E9, default: 1.15]
    S:"Speed Multiplier"=1.15

    # If bosses have water breathing. [default: true]
    B:"Water Breathing"=true
}


"brutal spawners" {
    # The potion effects applied to all brutal mobs.  Format is potion@level, potion is a registry name. [default: [minecraft:resistance@2], [minecraft:fire_resistance@1], [minecraft:regeneration@1], [minecraft:speed@2], [minecraft:water_breathing@1], [minecraft:strength@1]]
    S:"Brutal Potion Effects" <
        minecraft:resistance@2
        minecraft:fire_resistance@1
        minecraft:regeneration@1
        minecraft:speed@2
        minecraft:water_breathing@1
        minecraft:strength@1
     >

    # The possible spawn entries for brutal spawners.  Format is weight@entity, entity is a registry name.  apotheosis:random is a special name, used to generate a spawner that spawns any mob. [default: [4@minecraft:zombie], [1@minecraft:skeleton], [1@minecraft:spider], [1@minecraft:cave_spider], [1@minecraft:creeper], [1@apotheosis:random]]
    S:"Brutal Spawner Mobs" <
        4@minecraft:zombie
        1@minecraft:skeleton
        1@minecraft:spider
        1@minecraft:cave_spider
        1@minecraft:creeper
        1@apotheosis:random
     >
}


dungeons {
    # The chance for a dungeon to have a brutal spawner. [range: 0.0 ~ 1.0, default: 0.05]
    S:"Dungeon Brutal Chance"=0.05

    # The chance for a dungeon to have a swarm spawner. [range: 0.0 ~ 1.0, default: 0.1]
    S:"Dungeon Swarm Chance"=0.1
}


frequencies {
    # The chance (per chunk) for a boss to try spawning. [range: 0.0 ~ 1.0, default: 0.08]
    S:"Boss Chance"=0.08

    # The chance (per chunk) for a brutal spawner to try spawning. [range: 0.0 ~ 1.0, default: 0.12]
    S:"Brutal Spawner Chance"=0.12

    # The chance (per chunk) for a swarm spawner to try spawning. [range: 0.0 ~ 1.0, default: 0.15]
    S:"Swarm Spawner Chance"=0.15
}


general {
    # The dimensions that the deadly module will generate in. [default: [0]]
    S:"Generation Dimension Whitelist" <
        111
     >
}


"random spawners" {
    #  [range: 0 ~ 50, default: 1]
    I:"bouncy_creepers:bouncy_creeper"=1

    #  [range: 0 ~ 50, default: 1]
    I:"deepmoblearning:glitch"=1

    #  [range: 0 ~ 50, default: 1]
    I:"deepmoblearning:trial_cave_spider"=1

    #  [range: 0 ~ 50, default: 1]
    I:"deepmoblearning:trial_enderman"=1

    #  [range: 0 ~ 50, default: 1]
    I:"deepmoblearning:trial_slime"=1

    #  [range: 0 ~ 50, default: 1]
    I:"deepmoblearning:trial_spider"=1

    #  [range: 0 ~ 50, default: 1]
    I:"enderutilities:endermanfighter"=1

    #  [range: 0 ~ 50, default: 1]
    I:"headcrumbs:human"=1

    #  [range: 0 ~ 50, default: 1]
    I:"industrialforegoing:pink_slime"=1

    #  [range: 0 ~ 50, default: 1]
    I:"matteroverdrive:mutant_scientist"=1

    #  [range: 0 ~ 50, default: 1]
    I:"matteroverdrive:ranged_rogue_android"=1

    #  [range: 0 ~ 50, default: 1]
    I:"matteroverdrive:rogue_android"=1

    #  [range: 0 ~ 50, default: 1]
    I:"mekanism:babyskeleton"=1

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:blaze"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:cave_spider"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:creeper"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:elder_guardian"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:ender_dragon"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:enderman"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:endermite"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:evocation_illager"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:ghast"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:giant"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:guardian"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:husk"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:illusion_illager"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:magma_cube"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:shulker"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:silverfish"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:skeleton"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:slime"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:spider"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:stray"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:vex"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:vindication_illager"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:witch"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:wither"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:wither_skeleton"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:zombie"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:zombie_pigman"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:zombie_villager"=8

    #  [range: 0 ~ 50, default: 1]
    I:"ogdragon:darkosto"=1

    #  [range: 0 ~ 50, default: 1]
    I:"ogdragon:dragon"=1

    #  [range: 0 ~ 50, default: 1]
    I:"ogdragon:entityrider"=1

    #  [range: 0 ~ 50, default: 1]
    I:"statues:fake_blaze"=1

    #  [range: 0 ~ 50, default: 1]
    I:"statues:fake_creeper"=1

    #  [range: 0 ~ 50, default: 1]
    I:"statues:fake_enderman"=1

    #  [range: 0 ~ 50, default: 1]
    I:"statues:fake_ghast"=1

    #  [range: 0 ~ 50, default: 1]
    I:"statues:fake_guardian"=1

    #  [range: 0 ~ 50, default: 1]
    I:"statues:fake_husk"=1

    #  [range: 0 ~ 50, default: 1]
    I:"statues:fake_magmacube"=1

    #  [range: 0 ~ 50, default: 1]
    I:"statues:fake_shulker"=1

    #  [range: 0 ~ 50, default: 1]
    I:"statues:fake_skeleton"=1

    #  [range: 0 ~ 50, default: 1]
    I:"statues:fake_slime"=1

    #  [range: 0 ~ 50, default: 1]
    I:"statues:fake_spider"=1

    #  [range: 0 ~ 50, default: 1]
    I:"statues:fake_stray"=1

    #  [range: 0 ~ 50, default: 1]
    I:"statues:fake_witch"=1

    #  [range: 0 ~ 50, default: 1]
    I:"statues:fake_wither_skeleton"=1

    #  [range: 0 ~ 50, default: 1]
    I:"statues:fake_zombie"=1

    #  [range: 0 ~ 50, default: 1]
    I:"statues:fake_zombie_pigman"=1

    #  [range: 0 ~ 50, default: 1]
    I:"tconstruct:blueslime"=1

    #  [range: 0 ~ 50, default: 1]
    I:"thermalfoundation:basalz"=1

    #  [range: 0 ~ 50, default: 1]
    I:"thermalfoundation:blitz"=1

    #  [range: 0 ~ 50, default: 1]
    I:"thermalfoundation:blizz"=1

    #  [range: 0 ~ 50, default: 1]
    I:"totemic:baykok"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:adherent"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:armored_giant"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:blockchain_goblin"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:boggard"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:death_tome"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:fire_beetle"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:giant_miner"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:goblin_knight_lower"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:goblin_knight_upper"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:harbinger_cube"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:hedge_spider"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:helmet_crab"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:hostile_wolf"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:hydra"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:ice_crystal"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:king_spider"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:knight_phantom"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:kobold"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:lich"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:lich_minion"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:maze_slime"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:mini_ghast"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:minoshroom"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:minotaur"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:mist_wolf"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:mosquito_swarm"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:naga"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:pinch_beetle"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:redcap"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:redcap_sapper"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:roving_cube"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:skeleton_druid"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:slime_beetle"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:snow_guardian"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:snow_queen"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:stable_ice_core"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:swarm_spider"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:tower_broodling"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:tower_ghast"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:tower_golem"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:tower_termite"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:troll"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:unstable_ice_core"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:ur_ghast"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:winter_wolf"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:wraith"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:yeti"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:yeti_alpha"=1

    #  [range: 0 ~ 50, default: 1]
    I:"withercrumbs:wither crumb"=1
}


"spawner stats: brutal spawners" {
    # The maximum delay between spawns [range: 1 ~ 32767, default: 400]
    I:"Max Delay"=400

    # The maximum number of nearby entities (when hit, the spawner turns off). [range: 1 ~ 32767, default: 6]
    I:"Max Nearby Entities"=6

    # The minimum delay between spawns [range: 1 ~ 32767, default: 200]
    I:"Min Delay"=200

    # The required distance a player must be within for this spawner to work. [range: 1 ~ 32767, default: 16]
    I:"Player Range"=16

    # The number of mobs that will spawn. [range: 1 ~ 32767, default: 6]
    I:"Spawn Count"=6

    # The delay before first spawn on this spawner. [range: 1 ~ 32767, default: 20]
    I:"Spawn Delay"=20

    # The spawn range. [range: 1 ~ 32767, default: 4]
    I:"Spawn Range"=4
}


"spawner stats: swarm spawners" {
    # The maximum delay between spawns [range: 1 ~ 32767, default: 300]
    I:"Max Delay"=300

    # The maximum number of nearby entities (when hit, the spawner turns off). [range: 1 ~ 32767, default: 32]
    I:"Max Nearby Entities"=32

    # The minimum delay between spawns [range: 1 ~ 32767, default: 75]
    I:"Min Delay"=75

    # The required distance a player must be within for this spawner to work. [range: 1 ~ 32767, default: 8]
    I:"Player Range"=8

    # The number of mobs that will spawn. [range: 1 ~ 32767, default: 8]
    I:"Spawn Count"=8

    # The delay before first spawn on this spawner. [range: 1 ~ 32767, default: 20]
    I:"Spawn Delay"=20

    # The spawn range. [range: 1 ~ 32767, default: 6]
    I:"Spawn Range"=6
}


"swarm spawners" {
    # The possible spawn entries for swarm spawners.  Format is weight@entity, entity is a registry name. [default: [4@minecraft:zombie], [2@minecraft:skeleton], [5@minecraft:spider], [8@minecraft:cave_spider], [1@minecraft:creeper]]
    S:"Swarm Spawner Mobs" <
        4@minecraft:zombie
        2@minecraft:skeleton
        5@minecraft:spider
        8@minecraft:cave_spider
        1@minecraft:creeper
     >
}


