# Configuration file

"enchantability - armor" {
    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:ARCTIC=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:AS_IMBUEDLEATHER=30

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 1]
    I:BiblioArmor=1

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:CHAIN=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:FIERY=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:FRICTIONBOOTS=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:GASMASK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:GLITCH_INFUSED_MATERIAL=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"IJ:BRONZE"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"IJ:COPPER"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:"IJ:CREATIVE"=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"IJ:DIAMOND"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:"IJ:ELECTRUM"=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:"IJ:EMERALD"=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:"IJ:GOLD"=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:"IJ:INVAR"=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"IJ:IRON"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"IJ:PLATINUM"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"IJ:SILVER"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:"IJ:STEEL"=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"IJ:STONE"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:"IJ:WOOD"=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:INFERIUMARMOR=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:INTERMEDIUMARMOR=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:IRON=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:IRONWOOD=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:JETPACK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:JINGLE_DRESS=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:KNIGHTMETAL=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:KNIGHTPHANTOM=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:LEATHER=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:NAGA_SCALE=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:PIGGYBACK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:PRUDENTIUMARMOR=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"PT:GOGGLES"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"PT:GOGGLES_C"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:SCUBATANK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:SLIME=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:STEELEAF=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 35]
    I:SUPERIUMARMOR=35

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:SUPREMIUMARMOR=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 14]
    I:"TF:ALUMINUM"=14

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:BRONZE"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:CONSTANTAN"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:"TF:COPPER"=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:"TF:ELECTRUM"=30

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:INVAR"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:LEAD"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:"TF:NICKEL"=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 16]
    I:"TF:PLATINUM"=16

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:"TF:SILVER"=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:STEEL"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:TIN"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:TRITANIUM=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:YETI=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:armory=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:bamArmourMaterial=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:boneArmourMaterial=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 6]
    I:boron=6

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:boron_nitride=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 7]
    I:ceramics.clay=7

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:ceramics.clay_raw=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 2]
    I:crystal=2

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 75]
    I:dragonArmorMaterial=75

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:emerald=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:emeraldArmourMaterial=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:flintArmourMaterial=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:glowing=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:hard_carbon=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:hazmat=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:lapisArmourMaterial=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 35]
    I:lavaArmorMaterial=35

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:obsidianArmorMaterial=10
    I:power=2

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:quartzArmourMaterial=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:redstoneArmourMaterial=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:stoneArmourMaterial=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 6]
    I:tcomplement.knightslime=4

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 7]
    I:tcomplement.manyullyn=7

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 7]
    I:tcomplement.steel=7

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:tough=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 40]
    I:witherArmorMaterial=40

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:woodArmourMaterial=5
}


"enchantability - tools" {
    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:CRYSTAL=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:FIERY=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:GIANTSTONE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:GLITCH_INFUSED_MATERIAL=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:INFERIUM=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:INTERMEDIUM=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:IRON=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:IRONWOOD=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:KNIGHTMETAL=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:PRUDENTIUM=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:"PT:ALUMINUM"=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:"PT:BRONZE"=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:"PT:CONSTANTAN"=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 6]
    I:"PT:COPPER"=6

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"PT:ELECTRUM"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"PT:FLINT"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:"PT:INVAR"=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:"PT:LEAD"=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:"PT:NICKEL"=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:"PT:PLATINUM"=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:"PT:SILVER"=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"PT:STEEL"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"PT:TIN"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:SOULIUM=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:STEELEAF=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:STONE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 35]
    I:SUPERIUM=35

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:SUPREMIUM=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:SUPREMIUM_AOE=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:SUPREMIUM_STRENGTH1=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:SUPREMIUM_STRENGTH2=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:"TF:ALUMINUM"=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:BRONZE"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:CONSTANTAN"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"TF:COPPER"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"TF:ELECTRUM"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:INVAR"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:LEAD"=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:"TF:NICKEL"=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:"TF:PLATINUM"=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:"TF:SILVER"=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:STEEL"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"TF:TIN"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:TFGLASS=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:TFICE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:TRITANIUM=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:WOOD=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:birthdayToolMaterial=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:boneToolMaterial=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:bscDiamondToolMaterial=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:bscGoldToolMaterial=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:bscIronToolMaterial=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 44]
    I:crystal=44

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:emerald=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:emeraldToolMaterial=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:flintToolMaterial=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:inspirations.blaze=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:inspirations.bone=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:inspirations.wither=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:kappaToolMaterial=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:nether=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 6]
    I:"nuclearcraft:boron"=6

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:"nuclearcraft:boron_nitride"=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"nuclearcraft:hard_carbon"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 6]
    I:"nuclearcraft:spaxelhoe_boron"=6

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:"nuclearcraft:spaxelhoe_boron_nitride"=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"nuclearcraft:spaxelhoe_hard_carbon"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:"nuclearcraft:spaxelhoe_tough"=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:"nuclearcraft:tough"=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:obsidianToolMaterial=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:pdiamondToolMaterial=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:pemeraldToolMaterial=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:pflintToolMaterial=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:pgoldToolMaterial=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:pironToolMaterial=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:pobsidianToolMaterial=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 44]
    I:power=44

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:pstoneToolMaterial=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:pwoodToolMaterial=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:pwubwubToolMaterial=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:sandstone=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:seaIronToolMaterial=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:wubwubToolMaterial=22
}


