# Configuration file

fluids {
    S:fluid.aerotheum.cardrank=
    S:fluid.aerotheum.grammar=
    S:fluid.aerotheum.instability.factor_accessibility=
    S:fluid.aerotheum.instability.factor_flat=
    S:fluid.alewort.cardrank=
    S:fluid.alewort.grammar=
    S:fluid.alewort.instability.factor_accessibility=
    S:fluid.alewort.instability.factor_flat=
    S:fluid.alewort.seabanned=
    S:fluid.applejuice.cardrank=
    S:fluid.applejuice.grammar=
    S:fluid.applejuice.instability.factor_accessibility=
    S:fluid.applejuice.instability.factor_flat=
    S:fluid.applejuice.seabanned=
    S:fluid.astralsorcery.liquidstarlight.cardrank=
    S:fluid.astralsorcery.liquidstarlight.grammar=
    S:fluid.astralsorcery.liquidstarlight.instability.factor_accessibility=
    S:fluid.astralsorcery.liquidstarlight.instability.factor_flat=
    S:fluid.astralsorcery.liquidstarlight.seabanned=
    S:fluid.base_essence.cardrank=
    S:fluid.base_essence.grammar=
    S:fluid.base_essence.instability.factor_accessibility=
    S:fluid.base_essence.instability.factor_flat=
    S:fluid.base_essence.seabanned=
    S:fluid.biofuel.cardrank=
    S:fluid.biofuel.grammar=
    S:fluid.biofuel.instability.factor_accessibility=
    S:fluid.biofuel.instability.factor_flat=
    S:fluid.biofuel.seabanned=
    S:fluid.crude_oil.cardrank=
    S:fluid.crude_oil.grammar=
    S:fluid.crude_oil.instability.factor_accessibility=
    S:fluid.crude_oil.instability.factor_flat=
    S:fluid.crude_oil.seabanned=
    S:fluid.cryotheum.cardrank=
    S:fluid.cryotheum.grammar=
    S:fluid.cryotheum.instability.factor_accessibility=
    S:fluid.cryotheum.instability.factor_flat=
    S:fluid.cryotheum.seabanned=
    S:fluid.ender.cardrank=
    S:fluid.ender.grammar=
    S:fluid.ender.instability.factor_accessibility=
    S:fluid.ender.instability.factor_flat=
    S:fluid.ender.seabanned=
    S:fluid.essence.cardrank=
    S:fluid.essence.grammar=
    S:fluid.essence.instability.factor_accessibility=
    S:fluid.essence.instability.factor_flat=
    S:fluid.essence.seabanned=
    S:fluid.fluids.integrateddynamics.liquidchorus.cardrank=
    S:fluid.fluids.integrateddynamics.liquidchorus.grammar=
    S:fluid.fluids.integrateddynamics.liquidchorus.instability.factor_accessibility=
    S:fluid.fluids.integrateddynamics.liquidchorus.instability.factor_flat=
    S:fluid.fluids.integrateddynamics.liquidchorus.seabanned=
    S:fluid.fluids.integrateddynamics.menrilresin.cardrank=
    S:fluid.fluids.integrateddynamics.menrilresin.grammar=
    S:fluid.fluids.integrateddynamics.menrilresin.instability.factor_accessibility=
    S:fluid.fluids.integrateddynamics.menrilresin.instability.factor_flat=
    S:fluid.fluids.integrateddynamics.menrilresin.seabanned=
    S:fluid.glowstone.cardrank=
    S:fluid.glowstone.grammar=
    S:fluid.glowstone.instability.factor_accessibility=
    S:fluid.glowstone.instability.factor_flat=
    S:fluid.grapejuice.cardrank=
    S:fluid.grapejuice.grammar=
    S:fluid.grapejuice.instability.factor_accessibility=
    S:fluid.grapejuice.instability.factor_flat=
    S:fluid.grapejuice.seabanned=
    S:fluid.honey.cardrank=
    S:fluid.honey.grammar=
    S:fluid.honey.instability.factor_accessibility=
    S:fluid.honey.instability.factor_flat=
    S:fluid.honey.seabanned=
    S:fluid.if.pink_slime.cardrank=
    S:fluid.if.pink_slime.grammar=
    S:fluid.if.pink_slime.instability.factor_accessibility=
    S:fluid.if.pink_slime.instability.factor_flat=
    S:fluid.if.pink_slime.seabanned=
    S:fluid.if.protein.cardrank=
    S:fluid.if.protein.grammar=
    S:fluid.if.protein.instability.factor_accessibility=
    S:fluid.if.protein.instability.factor_flat=
    S:fluid.if.protein.seabanned=
    S:fluid.inferium.cardrank=
    S:fluid.inferium.grammar=
    S:fluid.inferium.instability.factor_accessibility=
    S:fluid.inferium.instability.factor_flat=
    S:fluid.inferium.seabanned=
    S:fluid.intermedium.cardrank=
    S:fluid.intermedium.grammar=
    S:fluid.intermedium.instability.factor_accessibility=
    S:fluid.intermedium.instability.factor_flat=
    S:fluid.intermedium.seabanned=
    S:fluid.ironberryjuice.cardrank=
    S:fluid.ironberryjuice.grammar=
    S:fluid.ironberryjuice.instability.factor_accessibility=
    S:fluid.ironberryjuice.instability.factor_flat=
    S:fluid.ironberryjuice.seabanned=
    S:fluid.latex.cardrank=
    S:fluid.latex.grammar=
    S:fluid.latex.instability.factor_accessibility=
    S:fluid.latex.instability.factor_flat=
    S:fluid.latex.seabanned=
    S:fluid.mana.cardrank=
    S:fluid.mana.grammar=
    S:fluid.mana.instability.factor_accessibility=
    S:fluid.mana.instability.factor_flat=
    S:fluid.mana.seabanned=
    S:fluid.matter_plasma.cardrank=
    S:fluid.matter_plasma.grammar=
    S:fluid.matter_plasma.instability.factor_accessibility=
    S:fluid.matter_plasma.instability.factor_flat=
    S:fluid.matter_plasma.seabanned=
    S:fluid.meat.cardrank=
    S:fluid.meat.grammar=
    S:fluid.meat.instability.factor_accessibility=
    S:fluid.meat.instability.factor_flat=
    S:fluid.meat.seabanned=
    S:fluid.milk.cardrank=
    S:fluid.milk.grammar=
    S:fluid.milk.instability.factor_accessibility=
    S:fluid.milk.instability.factor_flat=
    S:fluid.milk.seabanned=
    S:fluid.molten_tritanium.cardrank=
    S:fluid.molten_tritanium.grammar=
    S:fluid.molten_tritanium.instability.factor_accessibility=
    S:fluid.molten_tritanium.instability.factor_flat=
    S:fluid.molten_tritanium.seabanned=
    S:fluid.myst.ink.black.cardrank=
    S:fluid.myst.ink.black.grammar=
    S:fluid.myst.ink.black.instability.factor_accessibility=
    S:fluid.myst.ink.black.instability.factor_flat=
    S:fluid.myst.ink.black.seabanned=
    S:fluid.oliveoil.cardrank=
    S:fluid.oliveoil.grammar=
    S:fluid.oliveoil.instability.factor_accessibility=
    S:fluid.oliveoil.instability.factor_flat=
    S:fluid.oliveoil.seabanned=
    S:fluid.petrotheum.cardrank=
    S:fluid.petrotheum.grammar=
    S:fluid.petrotheum.instability.factor_accessibility=
    S:fluid.petrotheum.instability.factor_flat=
    S:fluid.petrotheum.seabanned=
    S:fluid.poison.cardrank=
    S:fluid.poison.grammar=
    S:fluid.poison.instability.factor_accessibility=
    S:fluid.poison.instability.factor_flat=
    S:fluid.poison.seabanned=
    S:fluid.prudentium.cardrank=
    S:fluid.prudentium.grammar=
    S:fluid.prudentium.instability.factor_accessibility=
    S:fluid.prudentium.instability.factor_flat=
    S:fluid.prudentium.seabanned=
    S:fluid.pyrotheum.cardrank=
    S:fluid.pyrotheum.grammar=
    S:fluid.pyrotheum.instability.factor_accessibility=
    S:fluid.pyrotheum.instability.factor_flat=
    S:fluid.pyrotheum.seabanned=
    S:fluid.redstone.cardrank=
    S:fluid.redstone.grammar=
    S:fluid.redstone.instability.factor_accessibility=
    S:fluid.redstone.instability.factor_flat=
    S:fluid.redstone.seabanned=
    S:fluid.sewage.cardrank=
    S:fluid.sewage.grammar=
    S:fluid.sewage.instability.factor_accessibility=
    S:fluid.sewage.instability.factor_flat=
    S:fluid.sewage.seabanned=
    S:fluid.sludge.cardrank=
    S:fluid.sludge.grammar=
    S:fluid.sludge.instability.factor_accessibility=
    S:fluid.sludge.instability.factor_flat=
    S:fluid.sludge.seabanned=
    S:fluid.soulium.cardrank=
    S:fluid.soulium.grammar=
    S:fluid.soulium.instability.factor_accessibility=
    S:fluid.soulium.instability.factor_flat=
    S:fluid.soulium.seabanned=
    S:fluid.superium.cardrank=
    S:fluid.superium.grammar=
    S:fluid.superium.instability.factor_accessibility=
    S:fluid.superium.instability.factor_flat=
    S:fluid.superium.seabanned=
    S:fluid.supremium.cardrank=
    S:fluid.supremium.grammar=
    S:fluid.supremium.instability.factor_accessibility=
    S:fluid.supremium.instability.factor_flat=
    S:fluid.supremium.seabanned=
    S:fluid.tconstruct.alubrass.cardrank=
    S:fluid.tconstruct.alubrass.grammar=
    S:fluid.tconstruct.alubrass.instability.factor_accessibility=
    S:fluid.tconstruct.alubrass.instability.factor_flat=
    S:fluid.tconstruct.alubrass.seabanned=
    S:fluid.tconstruct.aluminum.cardrank=
    S:fluid.tconstruct.aluminum.grammar=
    S:fluid.tconstruct.aluminum.instability.factor_accessibility=
    S:fluid.tconstruct.aluminum.instability.factor_flat=
    S:fluid.tconstruct.aluminum.seabanned=
    S:fluid.tconstruct.ardite.cardrank=
    S:fluid.tconstruct.ardite.grammar=
    S:fluid.tconstruct.ardite.instability.factor_accessibility=
    S:fluid.tconstruct.ardite.instability.factor_flat=
    S:fluid.tconstruct.ardite.seabanned=
    S:fluid.tconstruct.blood.cardrank=
    S:fluid.tconstruct.blood.grammar=
    S:fluid.tconstruct.blood.instability.factor_accessibility=
    S:fluid.tconstruct.blood.instability.factor_flat=
    S:fluid.tconstruct.blood.seabanned=
    S:fluid.tconstruct.blueslime.cardrank=
    S:fluid.tconstruct.blueslime.grammar=
    S:fluid.tconstruct.blueslime.instability.factor_accessibility=
    S:fluid.tconstruct.blueslime.instability.factor_flat=
    S:fluid.tconstruct.blueslime.seabanned=
    S:fluid.tconstruct.brass.cardrank=
    S:fluid.tconstruct.brass.grammar=
    S:fluid.tconstruct.brass.instability.factor_accessibility=
    S:fluid.tconstruct.brass.instability.factor_flat=
    S:fluid.tconstruct.brass.seabanned=
    S:fluid.tconstruct.bronze.cardrank=
    S:fluid.tconstruct.bronze.grammar=
    S:fluid.tconstruct.bronze.instability.factor_accessibility=
    S:fluid.tconstruct.bronze.instability.factor_flat=
    S:fluid.tconstruct.bronze.seabanned=
    S:fluid.tconstruct.clay.cardrank=
    S:fluid.tconstruct.clay.grammar=
    S:fluid.tconstruct.clay.instability.factor_accessibility=
    S:fluid.tconstruct.clay.instability.factor_flat=
    S:fluid.tconstruct.clay.seabanned=
    S:fluid.tconstruct.cobalt.cardrank=
    S:fluid.tconstruct.cobalt.grammar=
    S:fluid.tconstruct.cobalt.instability.factor_accessibility=
    S:fluid.tconstruct.cobalt.instability.factor_flat=
    S:fluid.tconstruct.cobalt.seabanned=
    S:fluid.tconstruct.copper.cardrank=
    S:fluid.tconstruct.copper.grammar=
    S:fluid.tconstruct.copper.instability.factor_accessibility=
    S:fluid.tconstruct.copper.instability.factor_flat=
    S:fluid.tconstruct.copper.seabanned=
    S:fluid.tconstruct.dirt.cardrank=
    S:fluid.tconstruct.dirt.grammar=
    S:fluid.tconstruct.dirt.instability.factor_accessibility=
    S:fluid.tconstruct.dirt.instability.factor_flat=
    S:fluid.tconstruct.dirt.seabanned=
    S:fluid.tconstruct.electrum.cardrank=
    S:fluid.tconstruct.electrum.grammar=
    S:fluid.tconstruct.electrum.instability.factor_accessibility=
    S:fluid.tconstruct.electrum.instability.factor_flat=
    S:fluid.tconstruct.electrum.seabanned=
    S:fluid.tconstruct.emerald.cardrank=
    S:fluid.tconstruct.emerald.grammar=
    S:fluid.tconstruct.emerald.instability.factor_accessibility=
    S:fluid.tconstruct.emerald.instability.factor_flat=
    S:fluid.tconstruct.emerald.seabanned=
    S:fluid.tconstruct.glass.cardrank=
    S:fluid.tconstruct.glass.grammar=
    S:fluid.tconstruct.glass.instability.factor_accessibility=
    S:fluid.tconstruct.glass.instability.factor_flat=
    S:fluid.tconstruct.glass.seabanned=
    S:fluid.tconstruct.gold.cardrank=
    S:fluid.tconstruct.gold.grammar=
    S:fluid.tconstruct.gold.instability.factor_accessibility=
    S:fluid.tconstruct.gold.instability.factor_flat=
    S:fluid.tconstruct.gold.seabanned=
    S:fluid.tconstruct.iron.cardrank=
    S:fluid.tconstruct.iron.grammar=
    S:fluid.tconstruct.iron.instability.factor_accessibility=
    S:fluid.tconstruct.iron.instability.factor_flat=
    S:fluid.tconstruct.iron.seabanned=
    S:fluid.tconstruct.knightslime.cardrank=
    S:fluid.tconstruct.knightslime.grammar=
    S:fluid.tconstruct.knightslime.instability.factor_accessibility=
    S:fluid.tconstruct.knightslime.instability.factor_flat=
    S:fluid.tconstruct.knightslime.seabanned=
    S:fluid.tconstruct.lead.cardrank=
    S:fluid.tconstruct.lead.grammar=
    S:fluid.tconstruct.lead.instability.factor_accessibility=
    S:fluid.tconstruct.lead.instability.factor_flat=
    S:fluid.tconstruct.lead.seabanned=
    S:fluid.tconstruct.manyullyn.cardrank=
    S:fluid.tconstruct.manyullyn.grammar=
    S:fluid.tconstruct.manyullyn.instability.factor_accessibility=
    S:fluid.tconstruct.manyullyn.instability.factor_flat=
    S:fluid.tconstruct.manyullyn.seabanned=
    S:fluid.tconstruct.nickel.cardrank=
    S:fluid.tconstruct.nickel.grammar=
    S:fluid.tconstruct.nickel.instability.factor_accessibility=
    S:fluid.tconstruct.nickel.instability.factor_flat=
    S:fluid.tconstruct.nickel.seabanned=
    S:fluid.tconstruct.obsidian.cardrank=
    S:fluid.tconstruct.obsidian.grammar=
    S:fluid.tconstruct.obsidian.instability.factor_accessibility=
    S:fluid.tconstruct.obsidian.instability.factor_flat=
    S:fluid.tconstruct.obsidian.seabanned=
    S:fluid.tconstruct.pigiron.cardrank=
    S:fluid.tconstruct.pigiron.grammar=
    S:fluid.tconstruct.pigiron.instability.factor_accessibility=
    S:fluid.tconstruct.pigiron.instability.factor_flat=
    S:fluid.tconstruct.pigiron.seabanned=
    S:fluid.tconstruct.purpleslime.cardrank=
    S:fluid.tconstruct.purpleslime.grammar=
    S:fluid.tconstruct.purpleslime.instability.factor_accessibility=
    S:fluid.tconstruct.purpleslime.instability.factor_flat=
    S:fluid.tconstruct.purpleslime.seabanned=
    S:fluid.tconstruct.silver.cardrank=
    S:fluid.tconstruct.silver.grammar=
    S:fluid.tconstruct.silver.instability.factor_accessibility=
    S:fluid.tconstruct.silver.instability.factor_flat=
    S:fluid.tconstruct.silver.seabanned=
    S:fluid.tconstruct.steel.cardrank=
    S:fluid.tconstruct.steel.grammar=
    S:fluid.tconstruct.steel.instability.factor_accessibility=
    S:fluid.tconstruct.steel.instability.factor_flat=
    S:fluid.tconstruct.steel.seabanned=
    S:fluid.tconstruct.stone.cardrank=
    S:fluid.tconstruct.stone.grammar=
    S:fluid.tconstruct.stone.instability.factor_accessibility=
    S:fluid.tconstruct.stone.instability.factor_flat=
    S:fluid.tconstruct.stone.seabanned=
    S:fluid.tconstruct.tin.cardrank=
    S:fluid.tconstruct.tin.grammar=
    S:fluid.tconstruct.tin.instability.factor_accessibility=
    S:fluid.tconstruct.tin.instability.factor_flat=
    S:fluid.tconstruct.tin.seabanned=
    S:fluid.tconstruct.zinc.cardrank=
    S:fluid.tconstruct.zinc.grammar=
    S:fluid.tconstruct.zinc.instability.factor_accessibility=
    S:fluid.tconstruct.zinc.instability.factor_flat=
    S:fluid.tconstruct.zinc.seabanned=
    S:fluid.vasholine.cardrank=
    S:fluid.vasholine.grammar=
    S:fluid.vasholine.instability.factor_accessibility=
    S:fluid.vasholine.instability.factor_flat=
    S:fluid.vasholine.seabanned=
    S:fluid.wildberryjuice.cardrank=
    S:fluid.wildberryjuice.grammar=
    S:fluid.wildberryjuice.instability.factor_accessibility=
    S:fluid.wildberryjuice.instability.factor_flat=
    S:fluid.wildberryjuice.seabanned=
    S:fluid.xpjuice.cardrank=
    S:fluid.xpjuice.grammar=
    S:fluid.xpjuice.instability.factor_accessibility=
    S:fluid.xpjuice.instability.factor_flat=
    S:fluid.xpjuice.seabanned=
}


instability {
    S:global.difficulty=
    B:global.enabled=true
}


