# Configuration file

symbol {

    mystcraft {
        B:biocongrid.enabled=true
        B:bioconhuge.enabled=true
        B:bioconlarge.enabled=true
        B:bioconmedium.enabled=true
        B:bioconnative.enabled=true
        B:bioconsingle.enabled=true
        B:bioconsmall.enabled=true
        B:biocontiled.enabled=true
        B:biocontiny.enabled=true
        B:biome0.enabled=true
        B:biome1.enabled=true
        B:biome10.enabled=true
        B:biome11.enabled=true
        B:biome12.enabled=true
        B:biome127.enabled=true
        B:biome129.enabled=true
        B:biome13.enabled=true
        B:biome130.enabled=true
        B:biome131.enabled=true
        B:biome132.enabled=true
        B:biome133.enabled=true
        B:biome134.enabled=true
        B:biome14.enabled=true
        B:biome140.enabled=true
        B:biome149.enabled=true
        B:biome15.enabled=true
        B:biome151.enabled=true
        B:biome155.enabled=true
        B:biome156.enabled=true
        B:biome157.enabled=true
        B:biome158.enabled=true
        B:biome16.enabled=true
        B:biome160.enabled=true
        B:biome161.enabled=true
        B:biome162.enabled=true
        B:biome163.enabled=true
        B:biome164.enabled=true
        B:biome165.enabled=true
        B:biome166.enabled=true
        B:biome167.enabled=true
        B:biome17.enabled=true
        B:biome18.enabled=true
        B:biome19.enabled=true
        B:biome2.enabled=true
        B:biome20.enabled=true
        B:biome21.enabled=true
        B:biome22.enabled=true
        B:biome23.enabled=true
        B:biome24.enabled=true
        B:biome25.enabled=true
        B:biome26.enabled=true
        B:biome27.enabled=true
        B:biome28.enabled=true
        B:biome29.enabled=true
        B:biome3.enabled=true
        B:biome30.enabled=true
        B:biome31.enabled=true
        B:biome32.enabled=true
        B:biome33.enabled=true
        B:biome34.enabled=true
        B:biome35.enabled=true
        B:biome36.enabled=true
        B:biome37.enabled=true
        B:biome38.enabled=true
        B:biome39.enabled=true
        B:biome4.enabled=true
        B:biome40.enabled=false
        B:biome41.enabled=false
        B:biome42.enabled=false
        B:biome43.enabled=false
        B:biome44.enabled=false
        B:biome45.enabled=false
        B:biome46.enabled=false
        B:biome47.enabled=false
        B:biome48.enabled=false
        B:biome49.enabled=false
        B:biome5.enabled=true
        B:biome50.enabled=false
        B:biome51.enabled=false
        B:biome52.enabled=false
        B:biome53.enabled=false
        B:biome54.enabled=false
        B:biome55.enabled=false
        B:biome56.enabled=false
        B:biome57.enabled=false
        B:biome58.enabled=false
        B:biome59.enabled=false
        B:biome6.enabled=true
        B:biome60.enabled=true
        B:biome61.enabled=true
        B:biome7.enabled=true
        B:biome8.enabled=true
        B:biome9.enabled=true
        B:caves.enabled=true
        B:colorcloud.enabled=true
        B:colorcloudnat.enabled=true
        B:colorfog.enabled=true
        B:colorfognat.enabled=true
        B:colorfoliage.enabled=true
        B:colorfoliagenat.enabled=true
        B:colorgrass.enabled=true
        B:colorgrassnat.enabled=true
        B:colorhorizon.enabled=true
        B:colorsky.enabled=true
        B:colorskynat.enabled=true
        B:colorskynight.enabled=true
        B:colorwater.enabled=true
        B:colorwaternat.enabled=true
        B:cryform.enabled=true
        B:denseores.enabled=true
        B:dungeons.enabled=true
        B:envaccel.enabled=false
        B:envexplosions.enabled=true
        B:envlightning.enabled=true
        B:envmeteor.enabled=true
        B:envscorch.enabled=true
        B:featurelargedummy.enabled=true
        B:featuremediumdummy.enabled=true
        B:featuresmalldummy.enabled=true
        B:floatislands.enabled=true
        B:genspikes.enabled=true
        B:hugetrees.enabled=false
        B:lakesdeep.enabled=true
        B:lakessurface.enabled=true
        B:lightingbright.enabled=true
        B:lightingdark.enabled=true
        B:lightingnormal.enabled=true
        B:mineshafts.enabled=true
        B:modclear.enabled=true
        B:modcolorblack.enabled=true
        B:modcolorblue.enabled=true
        B:modcolorcyan.enabled=true
        B:modcolordarkgreen.enabled=true
        B:modcolorgreen.enabled=true
        B:modcolorgrey.enabled=true
        B:modcolormagenta.enabled=true
        B:modcolormaroon.enabled=true
        B:modcolornavy.enabled=true
        B:modcolorolive.enabled=true
        B:modcolorpurple.enabled=true
        B:modcolorred.enabled=true
        B:modcolorsilver.enabled=true
        B:modcolorteal.enabled=true
        B:modcolorwhite.enabled=true
        B:modcoloryellow.enabled=true
        B:moddouble.enabled=true
        B:modeast.enabled=true
        B:modend.enabled=true
        B:modfull.enabled=true
        B:modgradient.enabled=true
        B:modhalf.enabled=true
        B:modmat_blockcrystal_0.enabled=true
        B:modmat_coal_ore_0.enabled=true
        B:modmat_diamond_ore_0.enabled=true
        B:modmat_dirt_0.enabled=true
        B:modmat_emerald_ore_0.enabled=true
        B:modmat_end_stone_0.enabled=true
        B:modmat_fluidblockblackink_0.enabled=true
        B:modmat_glass_0.enabled=true
        B:modmat_glowstone_0.enabled=true
        B:modmat_gold_ore_0.enabled=true
        B:modmat_ice_0.enabled=true
        B:modmat_iron_ore_0.enabled=true
        B:modmat_lapis_ore_0.enabled=true
        B:modmat_lava_0.enabled=true
        B:modmat_log2_0.enabled=true
        B:modmat_log2_1.enabled=true
        B:modmat_log_0.enabled=true
        B:modmat_log_1.enabled=true
        B:modmat_log_2.enabled=true
        B:modmat_log_3.enabled=true
        B:modmat_nether_brick_0.enabled=true
        B:modmat_netherrack_0.enabled=true
        B:modmat_obsidian_0.enabled=true
        B:modmat_packed_ice_0.enabled=true
        B:modmat_quartz_ore_0.enabled=true
        B:modmat_redstone_ore_0.enabled=true
        B:modmat_sandstone_0.enabled=true
        B:modmat_snow_0.enabled=true
        B:modmat_stone_0.enabled=true
        B:modmat_stone_1.enabled=true
        B:modmat_stone_2.enabled=true
        B:modmat_stone_3.enabled=true
        B:modmat_stone_4.enabled=true
        B:modmat_stone_5.enabled=true
        B:modmat_stone_6.enabled=true
        B:modmat_water_0.enabled=true
        B:modnoon.enabled=true
        B:modnorth.enabled=true
        B:modrising.enabled=true
        B:modsetting.enabled=true
        B:modsouth.enabled=true
        B:modwest.enabled=true
        B:modzero.enabled=true
        B:moondark.enabled=true
        B:moonnormal.enabled=true
        B:netherfort.enabled=true
        B:nohorizon.enabled=true
        B:nosea.enabled=true
        B:obelisks.enabled=true
        B:pvpoff.enabled=true
        B:rainbow.enabled=true
        B:ravines.enabled=true
        B:skylands.enabled=true
        B:starfissure.enabled=true
        B:starsdark.enabled=true
        B:starsendsky.enabled=true
        B:starsnormal.enabled=true
        B:starstwinkle.enabled=true
        B:strongholds.enabled=true
        B:sundark.enabled=true
        B:sunnormal.enabled=true
        B:tendrils.enabled=true
        B:termodspheres.enabled=true
        B:terrainamplified.enabled=false
        B:terrainend.enabled=true
        B:terrainflat.enabled=true
        B:terrainnether.enabled=true
        B:terrainnormal.enabled=true
        B:terrainvoid.enabled=true
        B:villages.enabled=true
        B:weathercloudy.enabled=true
        B:weatherfast.enabled=true
        B:weathernorm.enabled=true
        B:weatheroff.enabled=true
        B:weatheron.enabled=true
        B:weatherrain.enabled=true
        B:weatherslow.enabled=true
        B:weathersnow.enabled=true
        B:weatherstorm.enabled=true
    }

    tconstruct {
        B:modmat_blood_0.enabled=true
        B:modmat_blueslime_0.enabled=true
        B:modmat_molten_alubrass_0.enabled=false
        B:modmat_molten_aluminum_0.enabled=false
        B:modmat_molten_ardite_0.enabled=true
        B:modmat_molten_brass_0.enabled=true
        B:modmat_molten_bronze_0.enabled=true
        B:modmat_molten_clay_0.enabled=true
        B:modmat_molten_cobalt_0.enabled=true
        B:modmat_molten_copper_0.enabled=true
        B:modmat_molten_dirt_0.enabled=true
        B:modmat_molten_electrum_0.enabled=true
        B:modmat_molten_glass_0.enabled=true
        B:modmat_molten_gold_0.enabled=true
        B:modmat_molten_iron_0.enabled=true
        B:modmat_molten_knightslime_0.enabled=true
        B:modmat_molten_lead_0.enabled=true
        B:modmat_molten_magnesium_0.enabled=false
        B:modmat_molten_manyullyn_0.enabled=true
        B:modmat_molten_nickel_0.enabled=true
        B:modmat_molten_obsidian_0.enabled=true
        B:modmat_molten_pigiron_0.enabled=true
        B:modmat_molten_silver_0.enabled=true
        B:modmat_molten_steel_0.enabled=true
        B:modmat_molten_stone_0.enabled=true
        B:modmat_molten_thorium_0.enabled=false
        B:modmat_molten_tin_0.enabled=true
        B:modmat_molten_uranium_0.enabled=false
        B:modmat_molten_zinc_0.enabled=true
        B:modmat_purpleslime_0.enabled=true
    }

    twilightforest {
        B:modmat_fiery_essence_0.enabled=false
        B:modmat_molten_fierymetal_0.enabled=false
        B:modmat_molten_knightmetal_0.enabled=false
    }

    contenttweaker {
        B:modmat_bacon_0.enabled=true
        B:modmat_cookie_dough_0.enabled=true
        B:modmat_donut_0.enabled=true
        B:modmat_modularium_molten_0.enabled=false
        B:modmat_mud_0.enabled=false
        B:modmat_osmium_molten_0.enabled=true
        B:modmat_reinforced_obsidian_molten_0.enabled=true
    }

    cyclicmagic {
        B:modmat_amber_0.enabled=true
        B:modmat_biomass_0.enabled=true
        B:modmat_crystal_0.enabled=true
        B:modmat_milk_0.enabled=true
        B:modmat_poison_0.enabled=true
        B:modmat_xpjuice_0.enabled=true
    }

    thermalfoundation {
        B:modmat_fluid_aerotheum_0.enabled=false
        B:modmat_fluid_crude_oil_0.enabled=false
        B:modmat_fluid_cryotheum_0.enabled=true
        B:modmat_fluid_ender_0.enabled=true
        B:modmat_fluid_glowstone_0.enabled=true
        B:modmat_fluid_mana_0.enabled=true
        B:modmat_fluid_petrotheum_0.enabled=true
        B:modmat_fluid_pyrotheum_0.enabled=true
        B:modmat_fluid_redstone_0.enabled=true
    }

    industrialforegoing {
        B:modmat_biofuel_0.enabled=true
        B:modmat_essence_0.enabled=true
        B:modmat_if.pink_slime_0.enabled=true
        B:modmat_if.protein_0.enabled=true
        B:modmat_latex_0.enabled=true
        B:modmat_meat_0.enabled=true
        B:modmat_sewage_0.enabled=true
        B:modmat_sludge_0.enabled=true
    }

    integrateddynamics {
        B:modmat_block_liquid_chorus_0.enabled=true
        B:modmat_block_menril_resin_0.enabled=true
    }

    mysticalagradditions {
        B:modmat_molten_base_essence_0.enabled=true
        B:modmat_molten_inferium_0.enabled=true
        B:modmat_molten_intermedium_0.enabled=true
        B:modmat_molten_prudentium_0.enabled=true
        B:modmat_molten_soulium_0.enabled=true
        B:modmat_molten_superium_0.enabled=true
        B:modmat_molten_supremium_0.enabled=true
    }

    nuclearcraft {
        B:modmat_fluid_alugentum_0.enabled=true
        B:modmat_fluid_alumina_0.enabled=true
        B:modmat_fluid_ammonia_0.enabled=false
        B:modmat_fluid_arsenic_0.enabled=true
        B:modmat_fluid_bas_0.enabled=true
        B:modmat_fluid_bef2_0.enabled=true
        B:modmat_fluid_beryllium_0.enabled=true
        B:modmat_fluid_borax_solution_0.enabled=true
        B:modmat_fluid_boric_acid_0.enabled=true
        B:modmat_fluid_boron10_0.enabled=true
        B:modmat_fluid_boron11_0.enabled=true
        B:modmat_fluid_boron_0.enabled=true
        B:modmat_fluid_boron_nitride_solution_0.enabled=true
        B:modmat_fluid_calcium_sulfate_solution_0.enabled=true
        B:modmat_fluid_carbon_dioxide_0.enabled=false
        B:modmat_fluid_carbon_monoxide_0.enabled=false
        B:modmat_fluid_chocolate_liquor_0.enabled=true
        B:modmat_fluid_cocoa_butter_0.enabled=true
        B:modmat_fluid_condensate_water_0.enabled=true
        B:modmat_fluid_corium_0.enabled=true
        B:modmat_fluid_dark_chocolate_0.enabled=true
        B:modmat_fluid_deuterium_0.enabled=false
        B:modmat_fluid_diborane_0.enabled=false
        B:modmat_fluid_ethanol_0.enabled=true
        B:modmat_fluid_ethene_0.enabled=false
        B:modmat_fluid_exhaust_steam_0.enabled=false
        B:modmat_fluid_ferroboron_0.enabled=true
        B:modmat_fluid_flibe_0.enabled=true
        B:modmat_fluid_fluorine_0.enabled=false
        B:modmat_fluid_fluorite_water_0.enabled=true
        B:modmat_fluid_fluoromethane_0.enabled=false
        B:modmat_fluid_gelatin_0.enabled=true
        B:modmat_fluid_hard_carbon_0.enabled=true
        B:modmat_fluid_helium3_0.enabled=false
        B:modmat_fluid_helium_0.enabled=false
        B:modmat_fluid_high_pressure_steam_0.enabled=false
        B:modmat_fluid_hydrated_gelatin_0.enabled=true
        B:modmat_fluid_hydrofluoric_acid_0.enabled=true
        B:modmat_fluid_hydrogen_0.enabled=false
        B:modmat_fluid_koh_0.enabled=true
        B:modmat_fluid_lif_0.enabled=true
        B:modmat_fluid_liquid_nitrogen_0.enabled=true
        B:modmat_fluid_liquidhelium_0.enabled=true
        B:modmat_fluid_lithium6_0.enabled=true
        B:modmat_fluid_lithium7_0.enabled=true
        B:modmat_fluid_lithium_0.enabled=true
        B:modmat_fluid_low_pressure_steam_0.enabled=false
        B:modmat_fluid_low_quality_steam_0.enabled=false
        B:modmat_fluid_manganese_0.enabled=true
        B:modmat_fluid_manganese_dioxide_0.enabled=true
        B:modmat_fluid_marshmallow_0.enabled=true
        B:modmat_fluid_methanol_0.enabled=true
        B:modmat_fluid_milk_chocolate_0.enabled=true
        B:modmat_fluid_nak_0.enabled=true
        B:modmat_fluid_nak_hot_0.enabled=true
        B:modmat_fluid_naoh_0.enabled=true
        B:modmat_fluid_neutron_0.enabled=false
        B:modmat_fluid_nitrogen_0.enabled=false
        B:modmat_fluid_oxygen_0.enabled=false
        B:modmat_fluid_oxygen_difluoride_0.enabled=false
        B:modmat_fluid_plasma_0.enabled=false
        B:modmat_fluid_potassium_0.enabled=true
        B:modmat_fluid_potassium_fluoride_solution_0.enabled=true
        B:modmat_fluid_potassium_hydroxide_solution_0.enabled=true
        B:modmat_fluid_preheated_water_0.enabled=true
        B:modmat_fluid_radaway_0.enabled=true
        B:modmat_fluid_radaway_slow_0.enabled=true
        B:modmat_fluid_sic_vapor_0.enabled=false
        B:modmat_fluid_sodium_0.enabled=true
        B:modmat_fluid_sodium_fluoride_solution_0.enabled=true
        B:modmat_fluid_sodium_hydroxide_solution_0.enabled=true
        B:modmat_fluid_sugar_0.enabled=true
        B:modmat_fluid_sulfur_0.enabled=true
        B:modmat_fluid_sulfur_dioxide_0.enabled=false
        B:modmat_fluid_sulfur_trioxide_0.enabled=false
        B:modmat_fluid_sulfuric_acid_0.enabled=true
        B:modmat_fluid_tough_0.enabled=true
        B:modmat_fluid_tritium_0.enabled=false
        B:modmat_fluid_unsweetened_chocolate_0.enabled=true
    }

    rustic {
        B:modmat_ale_wort_0.enabled=true
        B:modmat_apple_juice_0.enabled=true
        B:modmat_grape_juice_0.enabled=true
        B:modmat_honey_0.enabled=true
        B:modmat_ironberry_juice_0.enabled=true
        B:modmat_olive_oil_0.enabled=true
        B:modmat_wildberry_juice_0.enabled=true
    }

    matteroverdrive {
        B:modmat_matter_plasma_0.enabled=true
        B:modmat_molten_tritanium_0.enabled=true
    }

    astralsorcery {
        B:modmat_fluidblockliquidstarlight_0.enabled=true
    }

}


