# Configuration file

##########################################################################################################
# categories
#--------------------------------------------------------------------------------------------------------#
# This section allows you to disable certain categories of content, based on a tag system.
##########################################################################################################

categories {
}


compat {
    B:"baubles:lib"=true
    B:"buildcraft:lib"=true
    B:"chiselsandbits:storage.barrels"=true
    B:"commoncapabilities:lib.slotlessInsertion"=true
    B:"infraredstone:lib"=true
    B:"jei:storage.barrels"=true
    B:"opencomputers:lib"=true
    B:"quark:lib"=true
    B:"redstonepaste:lib"=true
    B:"rustic:lib"=true
}


##########################################################################################################
# overrides
#--------------------------------------------------------------------------------------------------------#
# Overrides can have one of three values: DEFAULT, ENABLE, DISABLE
# DEFAULT will enable the module based on your profile settings and dependency availability.
##########################################################################################################

overrides {
    # Wire support module [Profile: STABLE]
    S:lib.wires=DEFAULT

    # Simple barrels [Profile: FORCED]
    S:storage.barrels=DEFAULT
}


