# Configuration file

~CONFIG_VERSION: 0.1

bush {
    # Chance for an animal bush to generate per chunk. Formula is a 1 in <chance> chance of generating. Set to 0 to disable generation. [range: 0 ~ 500, default: 20]
    I:chance=15

    # Adds the animal bush: a block that when broken drops a random animal seed. [default: true]
    B:enable=true
}


client {
    # Makes the animal crop render the entity model. If false will just render a tinted texture based on the spawn egg colors [default: true]
    B:fancyCropRendering=true
}


crop {
    # Determines if bonemeal can be applied to the animal crop [default: true]
    B:canBonemeal=true

    # Harvests the crop on right click (which is really the same as just breaking it). Added because people cannot write their right click harvest mods right. [default: true]
    B:rightClickHarvest=true

    # Chance for an animal crop to drop a seed if fully grown in addition to the animal. Formula is a 1 in <chance> chance of dropping. Set to 0 to never drop seeds, and 1 to always drop [range: 0 ~ 100, default: 0]
    I:seedDropChance=2
}


general {
    # List of animals to add as animal seeds. Must extend EntityLiving
    S:animals <
        minecraft:chicken
        minecraft:cow
        minecraft:donkey
        minecraft:horse
        minecraft:llama
        minecraft:mooshroom
        minecraft:ocelot
        minecraft:parrot
        minecraft:pig
        minecraft:polar_bear
        minecraft:rabbit
        minecraft:villager
        minecraft:wolf
        minecraft:sheep
        waddles:adelie_penguin
        minecraft:enderman
        minecraft:blaze
        minecraft:magma_cube
        minecraft:slime
        minecraft:creeper
        minecraft:zombie
        minecraft:skeleton
        minecraft:spider
        minecraft:witch
        twilightforest:mini_ghast
        minecraft:wither_skeleton
        minecraft:skeleton_horse
        thermalfoundation:blizz
        thermalfoundation:blitz
        thermalfoundation:basalz
        matteroverdrive:rogue_android
        matteroverdrive:ranged_rogue_android
        minecraft:evocation_illager
        twilightforest:death_tome
        twilightforest:minotaur
        twilightforest:helmet_crab
        twilightforest:yeti
        minecraft:shulker
        industrialforegoing:pink_slime
        tconstruct:blueslime
     >

    # List of water animals to add as animal lilys. Expected to be water based mobs
    S:seaAnimals <
        minecraft:squid
        minecraft:guardian
     >
}


