# Configuration file

general {
    # Blacklist these fluids from being stored in barrels [default: [Ljava.lang.String;@4a3424b5]
    S:"Fluid Blacklist" <
     >

    # Blacklist these items from being stored in barrels and crates [default: [Ljava.lang.String;@2838e302]
    S:"Item Blacklist" <
     >

    # Allows items to be placed in barrels. Disable to only permit fluids [default: true]
    B:"Multi-Purpose Barrels"=true
}


