# Configuration file

general {
    # Can mobs spawn on elevators ?
    B:mobSpawn=true

    # Realign players to the center of elevator after teleporting ?
    B:precisionTarget=true

    # Elevators only work with the same color?
    B:sameColor=true

    general {
        B:mobSpawn=false
        B:precisionTarget=true
        I:range=256
        B:sameColor=false
        B:skipUnreachable=true
    }

}


