# Configuration file

general {
    B:"Add player heads as dungeon loot"=true

    # Random.nextInt(X / (fortune+1)) == 0
    I:"Chance of random head drop"=200

    # Enables tooltips with informations about certain names (mod authors mostly)
    B:"Enable head item tooltips"=true

    # Setting this to false will cause only player heads to show in the creative tab and drop updon death
    B:"Enable mobs and animals heads"=false

    # Setting this to true allow statues to be built (Turning this off won't destroy existing statues)
    B:"Enable player statues"=true

    # Heads will drop randomly when entities or players die
    B:"Heads drop randomly"=false

    # The bigger this number the easier it will be to find heads in dungeons.
    # Some heads will be rarer than others.
    # Examples: Diamond is 1, Redstone is 10
    I:"Player heads loot weight"=1

    # Vanilla Heads (creeper, skeleton, zombie) will drop randomly when entities die
    B:"Vanilla heads drop randomly"=false
}


heads {
    # Other mods can add usernames using inter-mod communications, turns this config to false will prevent that from happening
    B:"Enable usernames sent by other mods"=true
    S:forgeCraft <
        Imalune
        ShadwDrgn
        Cojomax99
        Freyjadono
        Vaht
        EcuTruin
        boni
        glasspelican
        Mr_okushama
        AlgorithmX2
        Mikeemoo
        _CrazyP_
        MysteriousAges
        MineMaarten
        nekosune
        Mr_Damien_Hazard
        tlovetech
        FireBall1725
        PurpleMentat
        Calclavia
        Minalien
        fuj1n
        Mithion
        RWTema
        alexbegt
        WayofFlowingTime
        TTFTCUTS
        bspkrs
        amnet
        azanor
        chicken_bones
        Cloudhunter
        RazzleberryFox
        CovertJaguar
        cpw11
        dan200
        Eloraam
        florastar
        iChun
        KingLemming
        Krapht
        peterixxx
        Adubbz
        LexManos
        TheMattaBase
        mDiyo
        Myrathi
        Morvelaira
        Pahimar
        sfPlayer1
        Arkember
        x3n0ph0b3
        Rorax
        Sacheverell
        sirsengir
        Soaryn
        XCompWiz
        Vswe
        Vazkii
        ZeldoKavira
        AtomicBlom
        neptunepink
        EddieRuckus
        LordDusk
        Kihira
        Vaygrim
        Kaelten
        MatrexsVigil
        tfox83
        jadedcat
        mezz
        aivu
        ArashiDragon
        Binnie567
        c4ts
        Clairetic
        consolegrl
        Corosus
        electronicbird
        faunastar
        Forstride
        IceBladeRage
        Minakun
        odedex
        OvermindDL1
        RichardG867
        ted80
        Benimatic
        MrFlamegoat
     >
    S:ftb <
        eyamaz
        slowpoke101
        progwml6
        Captainnana
        Gideonseymour
        Watchful11
        SnowShock35
        Darkosto
     >
    S:hermitcraft <
        Biffa2001
        falsesymmetry
        hypnotizd
        iJevin
        impulseSV
        Jessassin
        joehillssays
        Keralis1
        KingDaddyDMAC
        monkeyfarm
        Mumbo
        Pungence
        skyzm
        sl1pg8r
        Tango
        Tinfoilchef
        topmass
        xBCrafted
        Xisuma
        ZombieCleo
        zueljin
        Etho
     >
    S:mindCrack <
        adlingtont
        AnderZEL
        Arkas
        Aureylian
        AvidyaZEN
        BlameTC
        Coestar
        Docm77
        Guude
        JSano19
        kurtmac
        SuperMCGamer
        Mhykol
        Millbee
        Nebris
        OMGchad
        Pakratt0013
        PauseUnpause
        Pyro_0
        SethBling
        Sevadus
        Vechs_
        VintageBeef
        W92Baj
        Zisteau
     >
    S:modders <
        sinkillerj
        Silentine
        techbrew
        Drullkus
        aidancbrady
        Melonar
        Cricket
        YorkAARGH
        spacetoad
        FyberOptic
        Vexatos
        Mineshopper
        AUTOMATIC_MAIDEN
        sanandreasMC
        FatherToast
        Erasmus_Crowley
        Alblaka
        Emoniph
        Nuchaz
        powercrystals
        AbrarSyed
        sdkillen
        Taelnia
        Lycanite
        asiekierka
        GregoriusT
        skyboy
        Flaxbeard
        Emasher
        joshiejack
        Reika
        ganymedes01
        Pokefenn
        chylex
        vadis365
        jakimfett
        Lunatrius
        copygirl
        amadornes
        DrZhark
        KeldonSlayer
        KarelMikie3
        Mfernflower
        LuckyLucyF
        Tristaric
        fry_
        Turkey2349
        Funwayguy
     >
    S:mojang <
        Notch
        jeb_
        C418
        Dinnerbone
        Grumm
        Searge
        EvilSeph
        Marc_IRL
        FruktHamster
        ProfMobius
        carlmanneh
        vubui
        _tommo_
        kappe
        geuder
        mollstam
        xlson
        KrisJelbring
        amir343
        NeonMaster
        carnalizer
        eldrone
        MinecraftChick
        Bopogamel
        Hideous
        MidnightEnforcer
        Morre
     >
    S:others <
        ez
        saukawolf
        Fullapple1991
        Cindric
        wiiv
        deadmau5
        muted79
        DrummingFish
        Kyrinon
        KingPurpleRaptor
        DylanGK
        sadris
        Herobrine
        kehaan
     >
    S:technic <
        GenPage
        Slink730
        sct
        KakerMix
        Skuli_Steinulf
        Talonos
     >
    S:youtubers <
        wyld
        SkythekidRS
        Bashur
        Straymaverick
        SOTMead
        Nerdcubed
        Kleetho
        DanTDM
        ashzification
        Runew0lf
        GiantWaffle
        Bacon_Donut
        Heph
        ChimneySwift
        FuriousDestroyer
        paulsoaresjr
        SuperGirlyGamer
        CyaNideEPiC
        Jarrenitis
        direwolf20
        Sjin
        Xephos
        LividCoffee
        pewdie
        Rythian
        Zoeya
        TheStrippin
        InTheLittleWood
        Quetzz
        Blorph
        xbony2
        generikb
        GameChap
        CaptainSparklez
        AntVenom
        CavemanFilms
        Fosler
        BevoLJ
        Sips_
        Honeydew
        thejims
        BertieChap
        TobyofBuscus
        corjaantje
        RealThinknoodles
        ZexyZek
        WesWilson
        BdoubleO100
        tedyhere
        riskable
     >
}


mob {
    # Chance that a human mob will spawn as a baby. Set to -1 to disable.
    D:"Baby human chance"=0.1
    I:"Dimension Blacklist" <
        1
        -1
     >

    # Setting this to false will disable special drops/weapons for certain celebrities. Existing mobs will still hold the weapons they spawned with.
    B:"Enable VIP drops"=true
    B:"Enable celebrity mobs"=true

    # Setting this to false will force humans to not attack players with the same name as themselves
    B:"Humans attack twins"=true

    # The maximum size of the group of mobs that will spawn at once
    I:"Maximum group size"=4

    # The minimum size of the group of mobs that will spawn at once
    I:"Minimum group size"=4

    # The change the mob will spawn. Base values: zombies, skeletons, spider, creepers = 100, endermen = 10, witches = 5
    I:"Spawn probability"=80

    # This prefix will be shown in front of celebrities names in-world. Meant to be used to differentiate celebrities from real players.
    S:prefix=
}


