# Configuration file

general {
    B:"Add player heads as dungeon loot"=true

    # Random.nextInt(X / (fortune+1)) == 0
    I:"Chance of random head drop"=200

    # Enables tooltips with informations about certain names (mod authors mostly)
    B:"Enable head item tooltips"=true

    # Setting this to false will cause only player heads to show in the creative tab and drop updon death
    B:"Enable mobs and animals heads"=true

    # Setting this to true allow statues to be built (Turning this off won't destroy existing statues)
    B:"Enable player statues"=true

    # Heads will drop randomly when entities or players die
    B:"Heads drop randomly"=true

    # The bigger this number the easier it will be to find heads in dungeons.
    # Some heads will be rarer than others.
    # Examples: Diamond is 1, Redstone is 10
    I:"Player heads loot weight"=1

    # Vanilla Heads (creeper, skeleton, zombie) will drop randomly when entities die
    B:"Vanilla heads drop randomly"=true
}


heads {
    # Other mods can add usernames using inter-mod communications, turns this config to false will prevent that from happening
    B:"Enable usernames sent by other mods"=true
    S:forgeCraft <
        artdude543
        ashzification
        Aureylian
        Bacon_Donut
        BlakeBr0
        Blargerist
        CaptainQ
        cpw11
        Darkhax
        Darkosto
        darkphan
        direwolf20
        Drullkus
        eyamaz
        Funwayguy
        generikb
        GiantWaffle
        Guude
        JackRuby1
        Jaredlll08
        Kleetho
        lastnecron
        LexManos
        mezz
        Mhykol
        MrButton_
        Muddr
        Pahimar
        Pokefenn
        Rorax
        RWTema
        Sevadus
        sinkillerj
        slowpoke101
        Soaryn
        tedyhere
        TheMattaBase
        Turkey2349
        vadis365
        Watchful11
        wyld
        ZeldoKavira
        HellFirePvP
     >
    S:ftb <
     >
    S:hermitcraft <
     >
    S:mindCrack <
     >
    S:modders <
     >
    S:mojang <
     >
    S:others <
     >
    S:technic <
     >
    S:youtubers <
     >
}


mob {
    # Chance that a human mob will spawn as a baby. Set to -1 to disable.
    D:"Baby human chance"=0.1
    I:"Dimension Blacklist" <
        1
        -1
     >

    # Setting this to false will disable special drops/weapons for certain celebrities. Existing mobs will still hold the weapons they spawned with.
    B:"Enable VIP drops"=true
    B:"Enable celebrity mobs"=true

    # Setting this to false will force humans to not attack players with the same name as themselves
    B:"Humans attack twins"=true

    # The maximum size of the group of mobs that will spawn at once
    I:"Maximum group size"=4

    # The minimum size of the group of mobs that will spawn at once
    I:"Minimum group size"=4

    # The change the mob will spawn. Base values: zombies, skeletons, spider, creepers = 100, endermen = 10, witches = 5
    I:"Spawn probability"=80

    # This prefix will be shown in front of celebrities names in-world. Meant to be used to differentiate celebrities from real players.
    S:prefix=
}


