# Configuration file

general {
    # If enabled, will add mana cabinets and folders for Botania
    B:botaniaIntegration=true

    # Enable Crafting Upgrade recipe
    B:craftingUpgrade=true

    # Will output stuff to console for debugging purposes.
    B:debugLogger=false

    # Enable Ender Upgrade recipe
    B:enderUpgrade=true

    # Enable Fluid Upgrade recipe
    B:fluidUpgrade=true

    # If enabled, A fluid cabinet filled with more than 3000mb of water will never run out of water.
    B:infiniteWaterSource=true

    # Enable Life Upgrade recipe
    B:lifeUpgrade=true

    # Disable this if you want TheOneProbe to handle the overlay instead.
    B:magnifyingGlassGui=true

    # Use this to blacklist certain mobs from being captured in the Mob Folder. Put the class names of the entities here.
    S:mobFolderBlacklist <
     >

    # Enable Mob Upgrade recipe
    B:mobUpgrade=true

    # Enable Oredict Upgrade recipe
    B:oreDictUpgrade=true

    # If disabled, will not let folders pick up dropped items.
    B:pickupStuff=true

    # If enabled, will let Mob Folders with a villager in it spawn villagers with their professions randomized.
    B:randomVillager=false

    # If enabled, will let filing cabinets use a different texture depending on the season.
    B:seasonalCabinets=true

    # Enable Smelting Upgrade recipe
    B:smeltingUpgrade=true

    # If enabled, will add a folder and a cabinet when it detects that Thaumcraft is installed.
    B:tcIntegration=true

    # If enabled, will let Fluid Folders place water in the nether.
    B:waterNether=false
}


