# Configuration file

general {
    B:botaniaIntegration=false
    B:craftingUpgrade=false
    B:debugLogger=false
    B:enderUpgrade=true
    B:fluidUpgrade=true

    # Displays the current Item/Block being contained in the currently held folder/suitcase
    B:folderHud=true

    # Configure the folder storage limit for dyed folders.
    I:folderSizeLimit=16000

    # Adjust placement of magnifying glass GUI on the y axis.
    I:guiHeight=5

    # Adjust placement of magnifying glass GUI on the x axis.
    I:guiWidth=0

    # If enabled, A fluid cabinet containing at least 3000mb of water will never run out of water.
    B:infiniteWaterSource=false

    # If enabled, reverses the interaction of pulling items from filing cabinets, so that shiftclick pulls 1 instead of 64 and vice-versa for without shiftclick.
    B:invertShift=false
    B:lifeUpgrade=true

    # Disable this if you want WAILA / TheOneProbe to handle the overlay insted.
    B:magnifyingGlassGui=true

    # Sets the upper bound limit of the loot item's stack size that the Mystery Folder will randomly return. Set to 0 to always return a single item every time.
    I:maxLootChance=7

    # Use this to blacklist certain mobs from being captured in the Mob Folder. Put the class names of the entities here.
    S:mobFolderBlacklist <
        matteroverdrive.entity.EntityVillagerMadScientist
        matteroverdrive.entity.monster.EntityMeleeRougeAndroidMob
        matteroverdrive.entity.monster.EntityMutantScientist
        matteroverdrive.entity.monster.EntityRangedRogueAndroidMob
        matteroverdrive.entity.monster.EntityRogueAndroid
        matteroverdrive.entity.monster.EntityRougeAndroidMob
        mekanism.common.entity.EntityRobit
        net.darkhax.resourcehogs.entity.EntityResourceHog
        net.minecraft.entity.passive.EntityHorse
        net.minecraft.entity.passive.EntityLlama
        net.minecraft.entity.passive.EntityMule
        net.minecraft.entity.passive.EntitySkeletonHorse
        net.minecraft.entity.passive.EntityVillager
        net.minecraft.entity.passive.EntityZombieHorse
     >
    B:mobUpgrade=true

    # List of items that will be randomly picked by the mystery folder.
    S:mysteryItems <
        minecraft:diamond
        minecraft:cobblestone:0
        minecraft:blaze_rod
        minecraft:slime_ball
        minecraft:clay
        minecraft:prismarine
        minecraft:rabbit_foot
        minecraft:torch
     >
    B:oreDictUpgrade=true

    # If disabled, will not let folders pick up dropped items.
    B:pickupStuff=true

    # If enabled, will let Mob Folders with a villager in it spawn villagers with their professions randomized.
    B:randomVillager=false

    # If enabled, will let filing cabinets use a different texture depending on the season.
    B:seasonalCabinets=false
    B:smeltingUpgrade=true
    B:tcIntegration=true

    # If enabled, will let Fluid Folders place water in the nether.
    B:waterNether=false
}


integration {
    # If enabled, will add mana cabinets and folders for Botania.
    B:botaniaIntegration=true

    # If enabled, will add cabinets and folders for Thaumcraft.
    B:tcIntegration=true
}


recipes {
    # Enable Crafting Upgrade recipe
    B:craftingUpgrade=true

    # Enable Ender Upgrade recipe
    B:enderUpgrade=true

    # Enable Fluid Upgrade recipe
    B:fluidUpgrade=true

    # Enable Life Upgrade recipe
    B:lifeUpgrade=true

    # Enable Mob Upgrade recipe
    B:mobUpgrade=true

    # Enable Oredict Upgrade recipe
    B:oreDictUpgrade=true

    # Enable Smelting Upgrade recipe
    B:smeltingUpgrade=true
}


