# Configuration file

##########################################################################################################
# blocks
#--------------------------------------------------------------------------------------------------------#
# orename, nyi, r, g, b
##########################################################################################################

blocks {
    # Something new. [default: [iron,unused,188,153,128], [gold,unused,252,238,75], [lapis,unused,28,87,198], [redstone,unused,151,3,3], [diamond,unused,119,206,251]]
    S:"Custom Blocks" <
        dirt,unused,131,92,59
        petrified,unused,160,160,160
        clay,unused,192,200,227
        sand,unused,254,255,207
        gravel,unused,194,185,203
        coal,unused,78,78,78
        iron,unused,188,153,128
        gold,unused,252,238,75
        lapis,unused,28,87,198
        redstone,unused,151,3,3
        diamond,unused,119,206,251
        bone,unused,252,253,255
     >
}


##########################################################################################################
# controls
#--------------------------------------------------------------------------------------------------------#
# Controls Generation of Islands
##########################################################################################################

controls {
    I:"(1:Amount) Chance that an Island Will Generate in Chunk"=150
    I:"Highest Y Height Islands Should Generate"=230
    I:"Largest Radius Islands Should Generate"=4
    I:"Lowest Y Height Islands Should Generate"=20
    I:"Smallest Radius Islands Should Generate"=1
}


##########################################################################################################
# drops
#--------------------------------------------------------------------------------------------------------#
# Controls Acorn Drop Chance
##########################################################################################################

drops {
    # (1:Amount) Chance of Acorn being dropped when leaves are broken [range: 1 ~ 2147483647, default: 3]
    I:"Acorn Drop Chance"=8
}


