# Configuration file

client {
    # Use the old health regen speed at full hunger (easier to navigate grids) [default: true]
    B:"Old Regen"=false
}


general {
    # How high should the grid of blocks be [range: 1 ~ 255, default: 128]
    I:"Grid Height"=128

    # How much open space should there be between blocks [range: 0 ~ 15, default: 3]
    I:"Grid Spacing"=3

    # Disables relighting checks to prevent framerate dips on chunk generation [default: true]
    B:"Lighting Fix"=true

    # Pre-emptively cancels spawn attempts over the void. May prevent some flying mobs spawning [default: true]
    B:"Mob Spawn Fix"=true

    # Naturally populate the grid with trees and plants [default: false]
    B:"Natural Populate"=false

    # Randomise the spacing between 1 and the configured value (per chunk) [default: false]
    B:"Random Spacing"=false

    # Sets the possible spawner types in the grid [default: [minecraft:enderman], [endermite]]
    S:"Spawners End" <
        minecraft:enderman
        minecraft:enderman
        minecraft:enderman
        minecraft:enderman
        minecraft:endermite
        minecraft:shulker
     >

    # Sets the possible spawner types in the grid [default: [minecraft:blaze], [minecraft:zombie_pigman], [minecraft:magma_cube]]
    S:"Spawners Nether" <
        minecraft:blaze
        minecraft:zombie_pigman
        minecraft:magma_cube
        minecraft:ghast
        minecraft:skeleton
        minecraft:wither_skeleton
        minecraft:wither_skeleton
     >

    # Sets the possible spawner types in the grid [default: [minecraft:skeleton], [minecraft:zombie], [minecraft:spider], [minecraft:cave_spider]]
    S:"Spawners Overworld" <
        minecraft:cave_spider
        minecraft:cave_spider
        minecraft:cave_spider
        minecraft:cave_spider
        minecraft:cave_spider
        minecraft:chicken
        minecraft:chicken
        minecraft:cow
        minecraft:cow
        minecraft:cow
        minecraft:creeper
        minecraft:creeper
        minecraft:creeper
        minecraft:creeper
        minecraft:creeper
        minecraft:enderman
        minecraft:enderman
        minecraft:horse
        minecraft:guardian
        minecraft:mooshroom
        minecraft:pig
        minecraft:pig
        minecraft:pig
        minecraft:polar_bear
        minecraft:polar_bear
        minecraft:rabbit
        minecraft:rabbit
        minecraft:sheep
        minecraft:sheep
        minecraft:skeleton
        minecraft:skeleton
        minecraft:skeleton
        minecraft:skeleton
        minecraft:skeleton
        minecraft:spider
        minecraft:spider
        minecraft:spider
        minecraft:spider
        minecraft:spider
        minecraft:witch
        minecraft:witch
        minecraft:zombie
        minecraft:zombie
        minecraft:zombie
        minecraft:zombie
        minecraft:zombie
        minecraft:donkey
        minecraft:evocation_illager
        minecraft:guardian
        minecraft:husk
        minecraft:llama
        minecraft:llama
        minecraft:parrot
        minecraft:vex
        minecraft:vindication_illager
     >
}


