# Configuration file

general {
    # Adds additional information about torchmaster items into the tooltip
    B:BeginnerTooltips=true

    # The radius of the spawn prevention. (Passive Animals)
    # Min: 0
    # Max: 512
    I:DreadLampRange=64

    # If this setting is enabled, the mega torch will block all natural spawn attempts from Lycanites Mobs in its radius
    B:LycanitesMobsBlockAll=true

    # Allows to get the lit torch when harvested with silk touch. Has no effect if MegaTorchExtinguishOnHarvest is false)
    # Min: 0
    # Max: 512
    B:MegaTorchAllowSilkTouch=true

    # Controls if the mega torch should allow mob spawning from vanilla spawners
    # Min: 0
    # Max: 512
    B:MegaTorchAllowVanillaSpawners=true

    # The speed at which the torch will extinguish. Set to 0 to disable.
    # Min: 0
    # Max: 2147483647
    I:MegaTorchBurnoutRate=0

    # The burnout value. This value is removed by the amount of burnout rate per tick
    # Min: 0
    # Max: 2147483647
    I:MegaTorchBurnoutValue=1

    # If set to true, the mega torch will drop as an unlit torch when harvesting it
    B:MegaTorchExtinguishOnHarvest=false

    # The lighter item to light an unlit torch, see https://github.com/Xalcon/TorchMaster/wiki/Torch-Burnout for more info.
    S:MegaTorchLighterItems <
        minecraft:flint_and_steel
     >

    # The radius of the spawn prevention. (Monster)
    # Min: 0
    # Max: 512
    I:MegaTorchRange=64

    # If this setting is enabled, the mega torch will block all natural spawn attempts from MoCreatures in its radius
    B:MoCreaturesBlockAll=true

    # The spacing between each torch. Distance of 5 means there will be a torch every 5 blocks with 4 blocks space in between.
    # Min: 0
    # Max: 2147483647
    I:TerrainLighterSpacing=5

    # The amount of torches to place in each direction. The effective range is multiplied by the torch spacing (32 * 5 = 160 blocks, default 7 * 5 = 35 blocks)
    # Min: 0
    # Max: 2147483647
    I:TerrainLighterTorchCount=7

    # This controls which torches are supported by the terrain lighter
    # Min: 0
    # Max: 512
    S:TerrainLighterTorches <
        minecraft:torch
        tconstruct:stone_torch
     >

    # The target minimum light level to place lights for
    # Min: 1
    # Max: 15
    I:feralFlareMinLightLevel=10

    # The radius in which the feral flare should try to place lights
    # Min: 0
    # Max: 2147483647
    I:feralFlareRadius=16

    # Controls how often the flare should try to place lights. 1 means every tick, 10 every 10th tick, etc
    # Min: 1
    # Max: 2147483647
    I:feralFlareTickRate=5

    # Durability of the frozen pearl. Each removed light will remove one charge from the pearl. Set to 0 to disable durability
    # Min: 0
    # Max: 2147483647
    I:frozenPearlDurability=1024
}


